@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#instructions,
#results {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75); /* Fundo escuro com transparência */
  z-index: 10;
}

#results {
  display: none;
  cursor: default;
}

#instructions .content,
#results .content {
  max-width: 300px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0); /* Fundo branco com transparência */
  border-radius: 20px;
  text-align: center;
}

#results .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reload-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.8); /* Botão vermelho com transparência */
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

#reload-button:hover {
  background-color: rgba(255, 0, 0, 1); /* Botão vermelho sólido ao passar o mouse */
}

#score {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 30px;
  right: 30px;
  z-index: 5;
}

@media (max-width: 768px) {
  #instructions,
  #results {
    background-color: rgba(20, 20, 20, 0.85); /* Fundo ligeiramente mais escuro para mobile */
  }
}
